<div class="row"> <!-- Title -->
    <div class="small-8 small-offset-1 columns">
        <h3>Current List</h3>
    </div>
    <div class="small-2 columns">
        <span id="dataListAddSuccess" class="callout success">Item Added!</span>
    </div>
</div>

<div class="row"> <!-- List -->
    <div class="small-10 small-offset-1 columns">
        <ul id="dataListItems">
            <li ng-repeat="data in dataList">
                <div class="row">
                    <div class="small-10 columns">
                        - {{data.title}}
                    </div>
                    <div class="small-2 columns">
                        <input id="{{$index}}" type="button" class="right dataListRemove" ng-click="dataListRemove(data.id, $index)" value="X">
                    </div>
                </div>
            </li>
            <li>{{dataListItem.title}}</li>
        </ul>
    </div>
</div>

<div class="row"> <!-- Add Form -->
    <div class="small-10 small-offset-1 columns">
        <form ng-submit="dataListAdd(dataListItem); dataListItem = initial">
            <div class="input-group">
                <input id="dataListItem" class="input-group-field" type="text" placeholder="Item Name" ng-model="dataListItem.title">
                <div class="input-group-button">
                    <input type="submit" class="button" value="Add">
                </div>
            </div>
        </form>
    </div>
</div>