<div class="row">
    <div class="small-12 columns">
        <h1 id="headTitle" class="text-center"><a ui-sref="home">ngSyncano Sample Apps</a></h1>
    </div>
</div>

<div class="row">
    <div class="small-10 small-offset-1 columns">
        <ul id="navMenu" class="menu expanded">
            <li class="text-center titleLink"><h4>Home/Apps/:</h4></li>
            <li class="text-center appLink"><h5><a ui-sref="home.dataList">> dataList_</a></h5></li>
            <li class="text-center appLink"><h5><a ui-sref="home.userAuth">> userAuth_</a></h5></li>
            <li class="text-center appLink last"><h5>> Loading..._</h5></li>
        </ul>
        <br><br>
    </div>
</div>

<div ui-view class="appBox"> <!-- Content is replaced when view is changed -->
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <h3>Get Started</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <p class="textBlockQuote">
                This page is has a collection of examples that you can take using both Syncano and the Angular 1.x Library.
                It connects the two using the ng-syncano library found <a href="https://github.com/Syncano/ng-syncano" target="_blank">here</a>.
                This library makes it possible to use the Syncano API <bold>without</bold> having to <code>require('')</code> it or
                include the library in your html header section.

                <br><br>

                To download one of the apps, visit <a href="https://github.com/devintyler/ng-syncano-app" target="_blank">this github page</a> and grab
                the <code>dist/</code> folder.<br>
                <strong>Note: You will need a <a href="http://syncano.io" target="_blank">Syncano</a> account to use these apps!</strong>

                <br><br>

                <strong>Click on an app above to begin!</strong>
            </p>
        </div>
    </div>
</div>